@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgb(5 150 105);
}


.border {
    border-bottom: 5px solid rgb(251 146 60);
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.selected {
    background-color: rgb(5 150 105);
    color: white;
    padding: 0.2rem 3rem;
    border-radius: 1rem;
   
}